body
{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
h1
{
    font-size: 60px;
    font-weight: 1000;
    margin: 50px 0px;
    color: #75B79E;
    text-align: center;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jogo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.carta
{
    width: 200px;
    height: 250px;
    position: relative;
    display: flex;   
    margin: 15px; 
}


/* --------------animação-------------- */
.back-face, .front-face
{
    width: 100%;
    height: 100%;
    background-color: #75B79E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .4s;
    transform-style: preserve-3d;
    flex-grow: 1;
}
.back-face 
{
    transform: rotateY(180deg);
}
.back-face.virado
{
    transform: rotateY(0deg);
}
.front-face.virado
{
    transform: rotateY(-180deg);
}
.virado
{
    transform: rotateY(180deg);
}